# Node
node_modules/

# Build
dist/
build/

# Env
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Editor
.vscode/

# 3D assets
public/models/*.glb
public/models/*.gltf
public/models/*.bin
public/models/textures/
!/public/models/basic-fit_logo3D.glb

# Optional: exports
*.blend
