@font-face {
  font-family: "HeadingPro";
  src: url("/src/assets/fonts/Heading-Pro-Treble-Regular.otf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "HeadingPro";
  src: url("/src/assets/fonts/Heading-Pro-Treble-DoubleRegular.otf")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "HeadingPro";
  src: url("/src/assets/fonts/Heading-Pro-Treble-ExtraBold.otf")
    format("opentype");
  font-weight: 800;
}
